{% extends "master_ass.html" %}
{% block body %}
<h2 class="content-subhead">Associations Usage</h2>

<p>Associations is a simple Django app to show associations between urls and other attributes in the installed applications.
For each app a list of views, view names, view types and urls are shown. When debugging an app, the common and the most
straightforward way is to trace the view or template through urls.py of the app. Associations places all of these
template names and view names on a single page so that you don't need to go through the process of locating the
template/view through the urls.</p>

<h3 class="content-subhead">Requirements</h3>
<p>Currently works with Django 1.5 above and Python 2.7.x</p>
<h3 class="content-subhead">Quick start</h3>
<ol>
    <li>Add "associations" to your INSTALLED_APPS setting like this::
    <pre>
    INSTALLED_APPS = (
        ...
        'associations',
    )
    </pre></li>
    <li>Include the BASE_DIR in your project settings like this::
        <pre>
            BASE_DIR = os.path.dirname(os.path.dirname(__file__))
        </pre>
        If the 'BASE_DIR' is defined as some other variable, define BASE_DIR = defined_variable_name
    </li>
    <li>Include the Associations URLconf in your project urls.py like this::
    <pre>
    url(r'^associations/', include('associations.urls')),
    </pre>

    </li>

    <li>Start the development server and visit <pre>http://127.0.0.1:8000/associations/</pre> and you're done</li>

</ol>

{% endblock %}