{% extends "master_ass.html" %}
{% load detailed_tags %}
{% block body %}
        <h2 class="content-subhead">Installed Applications</h2>
        <div class="data">
            <table class="pure-table pure-table-bordered">
                <thead>
                    <tr>
                        <th>App Name</th>
                        <th>Base URL</th>
                        <th>Example Pattern</th>
                        <th>Options</th>


                    </tr>
                </thead>
                <tbody>
                    {% for app,regex in installed_apps.items %}
                    <tr>
                        <td>{{ app }}</td>

                        <td class="regexprimary"><code>{{ regex|default_if_none:"Undefined" }}</code></td>
                        <td class="regexsecondary"><code>{% if regex %}example.com/<mark>{{ regex|cut:"^"|cut:'/' }}</mark>/list/2014/get{% else %}Not defined in base urls.py{% endif %}</code></td>
                        <td>{% if regex and not app == 'admin' and not app == 'django.contrib.admindocs' %}<a class="pure-button pure-button-primary " href="{% url 'associations_for_app' app_name=app %}">Associations</a>{% endif %}</td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if not show_all %}
            <p><i class="fa fa-exclamation-triangle"></i> <small>Doesn't display all the installed apps (ex: Admin)</small></p>

            <p>
            <small><a class="pure-button pure-button-extra-small" href="{% url 'associations_installed_apps_all' %}">Show all</a></small></p>
            {% else %}
            <p>
            <small><a class="pure-button pure-button-extra-small" href="{% url 'associations_installed_apps' %}">Show less</a></small></p>
            {% endif %}

         {% if extra_urls %}
            <h3 class="content-subhead">Extra URLS in the Root URLS</h3>
            <table class="pure-table pure-table-bordered">
                <thead>
                    <th>Pattern</th>
                    <th>Example Pattern</th>
                    <th>Template</th>
                    <th>URL Name</th>
                </thead>
                <tbody>
                {% for extra_url_regex, extra_url_dict in extra_urls.items %}
                    <tr>
                        <td class="regexprimary"><code>{{ extra_url_regex|cut:"$" }}</code></td>
                        <td class="regexsecondary"><code>example.com/<mark>{{ extra_url_regex|cut:"^"|cut:"/"|cut:"$" }}</mark></code></td>
                        <td class="regexsecondary"><code>{{ extra_url_dict.template_name }}</code></td>
                        <td class="regexsecondary"><code>{{ extra_url_dict.name }}</code></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
{% endblock %}